body{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    
}
.body{
    width: 95%;
}

.h3{
    color: rgb(9, 9, 91);
    text-align:left;
    margin-left: 12%;
    margin-top:3%;
    padding-bottom: 15px;
    border-bottom: 4px double rgb(174, 172, 172);
    
}

.container{
    margin-left: 12%;
    
}

label{
    width: max-content;
    margin-right: 6em;
    font-weight: 500;
}


input[type="text"] , input[type="number"], input[type="date"], input[type="file"]{
    height: 27px;
    width: 29em;
    margin-bottom: 5px;
    
}

select{
    height: 35px;
    width: 29.5em;
    margin-bottom: 5px;
    appearance: none;
    padding-left: 7px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#designSample{
    border:1px solid grey;
    border-radius: 0.5px;
    height: 25px;
    width: 28em;
    padding: 5px 10px;
    margin-bottom: 5px;
}

#preview{
    font-size: 14px;
    color:#000099;
    border: none;
}

#h3{
    color:rgb(9, 9, 91);
    font-weight: 100;
    text-decoration: underline #000099;
    margin-top: 2em;
    margin-bottom: 5px;
}
.trow{
    border: 1px solid #000099;
    margin-top: 1em;
    margin-left: 12%;
}

.colorBody {
    width: 80%;
}
.thead{
    background-color: #000099;
    color: white;
    width: 5%;
    text-align: left;
    padding: 5px 5px 5px;
}


.container label{
    width: max-content;   
}

.container {
    text-align: left;
}

td  label {
    display: block;
    margin-left: 0; 
}

.split-input{
    height: 30px;
    width: 13.5em !important;
    
   
}
.btn{
 color: white;
 font-size: 13px;
 background-color: #2c2828;  
 border-radius: 1px;  
 padding: 8px 22px;
 cursor: pointer;
 margin-top: 20px;
 margin-right: 10px;
 margin-bottom: 15%;
}